.left
  = render :template => "groups/index"
.right
  .right__group
    .right__group__name
      = @group.name
      = link_to edit_group_path(@group.id), class: 'get' do
        %button#1{ :class =>"button_1", :placeholder => "edit", :type =>"edit"} edit

      .right__group__member
        Members:
        -@group.users.each do |user|
          = user.name

  .right__chat
    -@group.messages.each do |message|
      .right__chat__chatsample1{'data-message-id': "#{message.id}"}
        .right__chat__chatsample1__user
          =message.user.name
          =message.created_at
        .right__chat__chatsample1__message
          =message.body
          =image_tag message.image.url if message.image.present?
      / carriwwave image upload, user can send either image or message only
  }
  .right__empty
  .right__type
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'bodybox', placeholder:"Type a message"
      %label
        = f.file_field :image, label:false, id:"message_image"
        %i.fa.fa-picture-o{"aria-hidden" => "true"}
      = f.submit "send" , class: "button_type2"
