.left
  = render :template => "groups/index"
.right
  .group
    .name
      = @group.name
      = link_to edit_group_path(@group), class: 'get' do
        %button#1{ :class =>"button_1", :placeholder => "edit", :type =>"edit"} edit
    -current_user.message.each do |m|
      .chat
        .chatsample1
          = link_to new_group_message_path(m.id),class: 'get' do
            = m.name
  .type
    =m.text_field placeholder:"Type a message", type:"text", class:input_type
    %i.fa.fa-picture-o{"aria-hidden" => "true"}
    =m.submit class: "button_type2",placeholder: "send", type:"sent"


